<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710845756850-oq26g8eihjvpleeu741k860gg1um6hnl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710845756850-oq26g8eihjvpleeu741k860gg1um6hnl</string>
	<key>API_KEY</key>
	<string>AIzaSyAAq0m75kngL6XVpDhiX0jEHXOVknfr4Ck</string>
	<key>GCM_SENDER_ID</key>
	<string>710845756850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mcantop.TwitterUIKit</string>
	<key>PROJECT_ID</key>
	<string>twitteruikit-a2ffb</string>
	<key>STORAGE_BUCKET</key>
	<string>twitteruikit-a2ffb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710845756850:ios:d10d7b478d4f322305e0ab</string>
</dict>
</plist>